body    {
    background-image: url("../images/bigbangtheory.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    color: white;
    font-weight: 900;
    font-family: 'Fahkwang', sans-serif;
    font-size: 30px;   

}
.jumbotron  {
    background-image: url("../images/bigbang.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    text-align: center;
    margin-top: 0px;    
}

h1  {
    font-size: 50px;
}

.container  {
    text-align: center;
    border: 3px solid black;
}
#hangman    {
text-align: center;
}

#directions-text    {
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px;
    
}
#wins-text  {
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px;
   
}
#losses-text    {
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px;
    
}
#guesses-left   {
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px;
}
#letter-used    {
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px;
}
h4  {
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px;
}
.guess  {
    margin-bottom: 0px;
}